body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app {
  font-family: "Open Sans", sans-serif;
}
.table {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.header,
.row {
  display: flex;
  cursor: pointer;
  height: 40px;
  align-items: center;
}

div {
  flex: 1;
  border: 1px solid rgb(238, 238, 238);
}

.header {
  background-color: rgb(238, 238, 238);
}

.header-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 5px;
  flex-wrap: wrap;
  min-width: 33%;
  box-sizing: border-box;
}

button {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.08);
  color: #fff;
  display: inline-block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
button {
  background-color: rgb(43, 153, 91);
  border: 1px solid rgb(33, 126, 74);
}

button:hover {
  background-color: rgb(75, 183, 141);
}

.form {
  display: flex;
  box-sizing: border-box;
}

input:focus {
  border: none;
  border-radius: none;
}

.input-form {
  margin-right: 1%;
}

.input-form:focus {
  border: none;
  outline: none;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.form__item {
  display: inline-block;
  position: relative;
  padding: 8px 10px;
  min-width: 30%;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.row-item {
  display: inline-block;
  position: relative;
  padding: 4px 5px;
  min-width: 30%;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.input-open__reData {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  display: inline-block;
  position: relative;
  padding: 4px 5px;
  min-width: 30%;
  max-width: 100%;
  background-color: none;
}
.input-open__reData:active {
  border-radius: none;
  border: none;
  border-bottom: 1px solid rgb(255, 0, 0);
  box-sizing: border-box;
}

.input-open__reData:focus {
  font-size: 16px;
  border: none;
  border-radius: none;
  outline: none;
  border-bottom: 1px solid rgb(255, 0, 0);
  box-sizing: border-box;
}

.input-filter {
  display: inline-block;
  position: relative;
  padding: 4px 5px;
  min-width: 30%;
  max-width: 100%;
  box-sizing: border-box;
}

.input-filter:active {
  border: none;
  border-radius: none;
  outline: none;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.input-filter:focus {
  border: none;
  border-radius: none;
  outline: none;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
